<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target xsi:type="File" name="file" 
				fileName="${basedir}/Logs/Sprint.log" encoding="utf-8" keepFileOpen="false" 
				layout="${date}|${level}|${message}" />

		<target xsi:type="Database" name="database">
			<dbProvider>System.Data.SqlServerCe.4.0</dbProvider>
			<connectionString>Data Source=${basedir}\Data\Sprint.sdf</connectionString>
			<commandText>
					INSERT INTO [LogEntries]
					(
						Message,
						Level,
						Logger,
						TimeStamp
					)
					VALUES
					(
						@msg,
						@level,
						@logger,
						GETDATE()
					)
				</commandText>
			<parameter name="@msg" layout="${message}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@logger" layout="${logger}" />
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="database" minlevel="Trace" maxlevel="Fatal" />
		<logger name="*" writeTo="file" minlevel="Trace" maxlevel="Fatal" />
	</rules>
</nlog>